@model List<Learner>

@{
    int i = 1;
}
<tr>
    <th>Student Name</th>
    <th>Time Logged In</th>
    <th>Add</th>
</tr>

@foreach (Learner learner in Model)

{

    <tr>
        <td id="@i">@learner.name[0] @learner.name[1]</td>
        <td>@learner.time</td>
        <td>
            <button class="fas fa-arrow-alt-circle-right" onclick="moveLearner(@i.ToString())"></button>
        </td>


        <!----<i class="fas fa-arrow-alt-circle-right"></i>-->
    </tr>
   
    i++; 
    
}


